# Numpy review homework

1. Make a numpy matrix from a Python list of lists...

In [1]:
import numpy as np

In [2]:
my_list = [[3.3, 2.3, 2.2], [1.2, 7.8, 8.7], [4.8, 2.2, 2], [1.5, 7.5, 9.5], [5.9, 1.6, 7.7]]
my_list

[[3.3, 2.3, 2.2],
 [1.2, 7.8, 8.7],
 [4.8, 2.2, 2],
 [1.5, 7.5, 9.5],
 [5.9, 1.6, 7.7]]

2. Make a 3D numpy matrix from a Python list of lists of lists!

In [3]:
np_my_list = np.array(my_list)
np_my_list

array([[3.3, 2.3, 2.2],
       [1.2, 7.8, 8.7],
       [4.8, 2.2, 2. ],
       [1.5, 7.5, 9.5],
       [5.9, 1.6, 7.7]])

3. Create a 5x3 array of Gaussian random numbers.

In [4]:
my_array = np.random.randn(5,3)
my_array

array([[ 0.1177906 ,  0.16745539,  1.82055842],
       [-0.36347822,  1.56742065,  0.74024658],
       [ 0.78837195,  1.26258277, -0.85537436],
       [ 0.95084884,  0.48908968, -0.73992958],
       [ 3.17046201, -1.79750361, -1.76364295]])

4. Write a script to go through the array created in 3. and announce (print) the value and its row and column indexes.

Hint: Use nested `for` loops - one to loop through the rows and one to loop through the columns.

In [5]:
# get row 1
my_array[0:1]

array([[0.1177906 , 0.16745539, 1.82055842]])

In [6]:
# get row 2
my_array[1:2]

array([[-0.36347822,  1.56742065,  0.74024658]])

In [7]:
# get row 3
my_array[2:3]

array([[ 0.78837195,  1.26258277, -0.85537436]])

In [8]:
# get row 4
my_array[3:4]

array([[ 0.95084884,  0.48908968, -0.73992958]])

In [9]:
# get row 5
my_array[4:5]

array([[ 3.17046201, -1.79750361, -1.76364295]])

In [10]:
for i in range(0,5):
    print('Row:',i+1)
    y = i+1
    for row in my_array[i:y]:
        for col in row:
            print('Column: ', col, sep ='')

# I think this code looks nice, however, I cannot find a way to make an idex for the column.

Row: 1
Column: 0.11779060394793923
Column: 0.1674553906156269
Column: 1.8205584159754884
Row: 2
Column: -0.36347821704779565
Column: 1.5674206486513418
Column: 0.7402465780065018
Row: 3
Column: 0.7883719483627027
Column: 1.2625827711384763
Column: -0.8553743601446507
Row: 4
Column: 0.9508488415212006
Column: 0.48908968362682487
Column: -0.7399295806938396
Row: 5
Column: 3.170462010912384
Column: -1.7975036148161856
Column: -1.763642951428111

In [11]:
# To make an index of column, I changed some of the code to have 2 loops. 
# To be honest, I still think that code from above is easier to understand. 
# But, this one just works better T^T.

for i in range(0,5):
    print('Row:',i+1)
    y = i+1
    for j in range(len(my_array[i])):
        print('Column ', j+1,':',' ',
              my_array[i][j],
             sep = '')

Row: 1
Column 1: 0.11779060394793923
Column 2: 0.1674553906156269
Column 3: 1.8205584159754884
Row: 2
Column 1: -0.36347821704779565
Column 2: 1.5674206486513418
Column 3: 0.7402465780065018
Row: 3
Column 1: 0.7883719483627027
Column 2: 1.2625827711384763
Column 3: -0.8553743601446507
Row: 4
Column 1: 0.9508488415212006
Column 2: 0.48908968362682487
Column 3: -0.7399295806938396
Row: 5
Column 1: 3.170462010912384
Column 2: -1.7975036148161856
Column 3: -1.763642951428111

5. Make an new array out of your random numbers such that the mean is 10 and the standard deviation is 3.

In [12]:
q5_array = np.random.normal(loc = 10, scale = 3, size = (10,5))
q5_array

array([[ 9.27964856,  6.42642727,  8.24837005,  6.79850498, 18.17490963],
       [11.67619443, 10.06465914, 11.7458996 ,  8.36071207, 12.98110524],
       [ 9.46907921,  8.03971799, 11.18580155,  9.36659283,  8.55359403],
       [15.97541917,  7.67933488, 10.0125698 , 13.49192676, 10.68756371],
       [ 9.4458241 , 12.9289727 ,  8.66105966,  1.6919909 ,  4.42261057],
       [10.76104817,  8.3342862 , 10.01824635,  9.89258177, 14.82977232],
       [ 9.91130349,  9.36020186,  8.12120803, 16.14561448,  8.48060413],
       [ 7.58369073, 13.20204922,  6.63824716,  1.10462417,  7.92640657],
       [ 9.16763074,  8.8974216 ,  2.40357266,  8.77405335,  9.23783029],
       [ 9.24781313, 11.8944507 , 14.27830038, 14.03078053, 10.95652783]])

6. Count the number of values in your new array that are below 7.

In [13]:
q5_array < 7

array([[False,  True, False,  True, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False,  True,  True],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False,  True,  True, False],
       [False, False,  True, False, False],
       [False, False, False, False, False]])

In [14]:
# Count the total number that less than 7 on each column.
sum(q5_array < 7)

array([0, 1, 2, 3, 1])

In [15]:
# Total number of all value that less than 7.
sum(sum(q5_array < 7))

7

7. Make a numpy sequence that has the even numbers from 2 up to (and including) 20.

In [16]:
q7_np_r1 = np.arange(2,22,2)
q7_np_r1

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

8. Get the second and third rows of your array.

In [24]:
# Row 2 from the first 5 numbers from question 7
q7_np_r2 = q7_np_r1[0:5]
q7_np_r2

array([ 2,  4,  6,  8, 10])

In [25]:
# Row 3 from the first 5 numbers from question 7
q7_np_r3 = q7_np_r1[5:10]
q7_np_r3

array([12, 14, 16, 18, 20])

In [38]:
# Add all numbers (add to question 5's array)
new_array = np.vstack((q5_array, q7_np_r2, q7_np_r3))
new_array

array([[ 9.27964856,  6.42642727,  8.24837005,  6.79850498, 18.17490963],
       [11.67619443, 10.06465914, 11.7458996 ,  8.36071207, 12.98110524],
       [ 9.46907921,  8.03971799, 11.18580155,  9.36659283,  8.55359403],
       [15.97541917,  7.67933488, 10.0125698 , 13.49192676, 10.68756371],
       [ 9.4458241 , 12.9289727 ,  8.66105966,  1.6919909 ,  4.42261057],
       [10.76104817,  8.3342862 , 10.01824635,  9.89258177, 14.82977232],
       [ 9.91130349,  9.36020186,  8.12120803, 16.14561448,  8.48060413],
       [ 7.58369073, 13.20204922,  6.63824716,  1.10462417,  7.92640657],
       [ 9.16763074,  8.8974216 ,  2.40357266,  8.77405335,  9.23783029],
       [ 9.24781313, 11.8944507 , 14.27830038, 14.03078053, 10.95652783],
       [ 2.        ,  4.        ,  6.        ,  8.        , 10.        ],
       [12.        , 14.        , 16.        , 18.        , 20.        ]])

9. Compute the mean of the columns of your array.

In [39]:
# Mean of the each row
new_array.mean(axis=1)

array([ 9.7855721 , 10.9657141 ,  9.32295712, 11.56936286,  7.43009159,
       10.76718696, 10.4037864 ,  7.29100357,  7.69610173, 12.08157451,
        6.        , 16.        ])

In [40]:
# Mean of the each column
new_array.mean(axis=0)

array([ 9.70980431,  9.56896013,  9.44277294,  9.63811515, 11.35424369])