# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [1]:
theAnswer = 42
anotherNameForTheAnswer = 42

Get and note the ID numbers for both.

In [2]:
id(theAnswer)

140617648840272

In [3]:
id(anotherNameForTheAnswer)

140617648840272

* `Wow! They have the same ID.`

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [4]:
theAnswer = 90
anotherNameForTheAnswer = 100

In [5]:
id(theAnswer)

140617649030288

In [6]:
id(anotherNameForTheAnswer)

140617649030608

* `Now, they are different.`

Do a `whos` to confirm that *no* names refer to the original value.

In [8]:
whos

Variable                  Type    Data/Info
-------------------------------------------
anotherNameForTheAnswer   int     100
theAnswer                 int     90

Finally, assign a new name to the original value, and get its ID.

In [9]:
thenewanswer = 42
id(thenewanswer)

140617648840272

* `Although, they are the same answers of 42. But, they do not have the same ID.`

*Look at this ID and compare it to the original ones. What happened? What does this tell you?*

---

### 2.

Convert both possible Boolean values to strings and print them.

In [10]:
boolean1 = True

In [11]:
str(boolean1)

'True'

Now convert some strings to Boolean until you figure out "the rule".

In [16]:
st = 'Hello'
st2 = bool(st)
st2

True

*What string(s) convert to True and False? In other words, what is the rule for str -> bool conversion?*
* `You can still convert str to bool. But, the 'Hello' is now convert to 'True'.`

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [17]:
bool3 = True
int3 = 5
flt3 = 3.4444

In [18]:
int3 + flt3

8.4444

In [19]:
flt3 + bool3

4.4444

In [20]:
bool3 + int3

6

*What is the rule for adding numbers of different types?*

* `You can add them all together without any error showing up. However, Booleans will be counted as '1'.`

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [22]:
int4 = 10
str4 = '67'

In [23]:
int4 + str4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [27]:
str4_2 = 'forty two'
int(str4_2)

ValueError: invalid literal for int() with base 10: 'forty two'

*Did that work?*

* ` No, it does not work.`

---

### 5.

Make a variable that is a 5 element tuple.

In [4]:
tup5 = (1,2,3,4,5)

Extract the last 3 elements.

In [5]:
tup5[-3:5]

(3, 4, 5)

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [2]:
tup6 = (6,7,8,9,10)

Make two list variables and add them.

In [6]:
tup5 + tup6

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Try adding one of your tuples to one of your lists.

In [7]:
tup6 + tup5[0]

TypeError: can only concatenate tuple (not "int") to tuple

*What happened? How does this compare to adding, say, a bool to a float?*

* `Although we can add the whole list of tuple together, I cannot add individual value from one list to another.`

---

### 7.

Can you tell the type of a variable by looking at its value?

*If so, how? A couple examples are fine; no need for an exhaustive list.*

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [10]:
list8 = ['Jay', [1,2,3,4,5], True]
list8

['Jay', [1, 2, 3, 4, 5], True]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [14]:
list8[0]

'Jay'

In [13]:
list8[1]

[1, 2, 3, 4, 5]

In [15]:
list8[2]

True

In [17]:
list8_1 = list8[1]
list8_1

[1, 2, 3, 4, 5]

In [18]:
list8_1[0]

1

Now see if you can do this in one step.

In [20]:
list8[1][0]

1

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [22]:
dict9 = {'Name': 'Jay',
        'Age': 22,
        'List': [1,2,3,4,5]}
dict9

{'Name': 'Jay', 'Age': 22, 'List': [1, 2, 3, 4, 5]}

Extract a single element from the list-in-a-dict in one step.

In [24]:
dict9['List'][0]

1

---

10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [28]:
list10 = [1,2,3,'Jay',True]
list10_1 = list10[0]
list10_2 = list10[3]

In [30]:
id(list10)

140460042125568

In [31]:
id(list10_2)

140460035815408

If you extract an element from your list and assign it to a new variable, are the IDs the same, or is a new object created?
* `The new ID was created for the extracted value from the list.`

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [34]:
str11 = 'abcde'

In [37]:
id(str11[1])

140459964003120

Now make a `str` variable containing the letter 'b'. Check its ID.

In [38]:
str11_2 = 'b'

In [39]:
id(str11_2)

140459964003120

*What happened?*

* `Although they have different object name, the object that contain 'b' within them have the same ID.`